#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "Laser PCB GCode Generator"
            VALUE "InternalName", "gerber2gcode"
            VALUE "OriginalFilename", "gerber2gcode.exe"
            VALUE "ProductName", "gerber2gcode"
            VALUE "FileVersion", "1.0.0"
            VALUE "ProductVersion", "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
